* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    background-color: antiquewhite;
}
h1 {
    text-transform: uppercase;
}
h2 {
    text-transform: capitalize;
}

.box-div-wrap {
    display: grid;
    grid-template-columns: auto auto;
}
.yellow-box {
    background-color: yellow;
}

.red-box {
    background-color: red;
}